<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowAvailableOrder</servlet-name>
        <servlet-class>za.ac.tut.model.web.ShowAvailableOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadyOrderServlet</servlet-name>
        <servlet-class>za.ac.tut.model.web.ReadyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.model.web.RegisterStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <servlet-class>za.ac.tut.model.web.RegisterStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>za.ac.tut.model.web.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.model.web.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>za.ac.tut.model.web.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.model.web.StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>za.ac.tut.model.web.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAvailableOrder</servlet-name>
        <url-pattern>/ShowAvailableOrder.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadyOrderServlet</servlet-name>
        <url-pattern>/ReadyOrderServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudentServlet</servlet-name>
        <url-pattern>/RegisterStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <url-pattern>/RegisterStaffServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/CreateOrderServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
